body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;

}

/*----------header css start---------*/
header {
    background-color: rgba(255, 144, 14, 0.1);
}

.header-contant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 228px 102px;
}

.header-logo h3 {
    font-size: 45px;
    color: #131313;
}

.header-manu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-manu ul li {
    list-style-type: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    margin-left: 35px;
}

.brand-group {
    width: 862px;
    height: 225px;
    margin: 0 auto;
}

.brand-group h2 {
    font-size: 64px;
    text-align: center;
    margin: 0;
}

.brand {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

}

.butt {
    width: 168px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    margin-top: 16px;
    margin-bottom: 50px;
}

.banner {
    margin-left: 240px;
    margin-right: 240px;
    width: 1000px;
    height: 500px;
    margin-bottom: 40px;
}

/*-------------main css start-------------*/

.team-image {
    width: 310px;
    height: 310px;
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.contant-list {
    display: flex;
    align-items: center;
    margin: 85px 190px 130px 190px;
    gap: 40px;
}

.quick {
    font-weight: 500;
    font-size: 40px;
    color: #727272;

}

.our {
    font-weight: 700;
    font-size: 40px;
    color: #131313;
}

.features {
    font-weight: 700;
    font-size: 40px;
    color: #FF900E;
}

.description p {
    font-weight: 400;
    font-size: 14px;
    color: #727272;

}

/*------------------------experience desigin start------------------*/

.my-feature {
    display: flex;
    margin: 0 190px 120px 190px;
    gap: 100px;
    width: 600px;
    height: 850px;
}


.verticle h2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;

}

.verticle {
    border-left: 5px solid #FF900E;
}

.verticle h2 {
    margin-left: 15px;
}

.features-title {
    font-weight: 400;
    font-size: 14px;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 30px;
}

.feature-head {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-top: 0px;
    margin-bottom: 8px;
}

.feature-description {
    font-weight: 400;
    font-size: 14px;
    color: #727272;
    margin-bottom: 0;
}

.feature {

    padding: 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 10px;

}

.archi {
    position: relative;
}

.architecture {
    width: 520px;
    height: 760px;
    position: absolute;
}

.experience-button {
    background: #FF900E;
    border: none;
    border-radius: 8px;
    width: 270px;
    height: 180px;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    position: absolute;
    left: -50px;
    top: 670px;


}

.experience-button h2 {
    margin-top: 0;
    margin-bottom: 0;

}

.experience-button span {
    font-size: 20px;
}

/*----------------------awards desigin start------------------*/

.facts-contant {
    margin: 100px 190px 120px;
}

.facts-head {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}

.facts-para {
    font-weight: 400;
    font-size: 14px;
    color: #727272;
}

.my-awards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;

}

.award {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 200px;
    height: 200px;

}
.award:hover{
    border:2px solid blueviolet;
}


.award-price {
    width: 45.22px;
    height: 45.22px;
    margin-top: 40px;
}

.number {
    margin-top: 2px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 40px;
    color: #424242;
}

.award-name {
    margin-top: 0;
    margin-bottom: 50px;
    color: #727272;
}

.for-hover {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.for-hover:hover {
    border: 2px solid blue;
    border-radius: 7px;
    box-sizing: border-box;
    width: 150px;
    height: 80px;
}

/*--------------------footer desigin start----------------*/

footer {
    margin: 0 190px 200px 190px;
}

.sponspors {
    width: 490px;
    height: 129px;
    margin: 0 auto;
    text-align: center;
}

.spons-images {
    margin-top: 50px;
    margin-bottom: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.spons-image-tag{
    mix-blend-mode: luminosity;
    width: 150px;
height: 40px;
}

.copyright {
    width: 100%;
    height: 100px;
    background: #FFF4E7;
    border-radius: 8px;


}

.copyright p {

    text-align: center;
    padding: 40px 0 40px;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
}


/*-------------------------
------------------------------media query related desigin start-------------------
----------------------------------------------------------------*/
@media screen and (max-width: 575px) {

    header{
        background-color: rgba(255, 144, 14, 0.1);
    }
    .header-contant,
    .header-manu ul {
        flex-direction: column;
        margin: 0;
    }
    .header-logo h3 {
        font-size: 35px;
        color: #131313;
        margin-bottom: 10px;
    }

    .header-manu ul {
        align-items: flex-start;
        margin-top: 0;
        padding-left: 0;
    }

    .header-manu ul li {
        margin-left: 0;

    }

    .brand-group {
        width: 280px;
    }

    .brand-group h2 {
        font-size: 30px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .button {
        margin-top: 40px;
    }

    .bann {
        width: 280px;
        
    }

    .banner {
        margin: 0 50px;
        width: 280px;
        height: 200px;
        margin-bottom: 20px;
        padding-left: 10px;
    }

    header {
        margin-bottom: 20px;
    }

    .images {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .but {
        display: flex;
        justify-content: center;
    }

    .contant-list {
        flex-direction: column;
        margin: 20px 10px 20px 10px;
        gap: 40px;
    }

    .my-feature {
        flex-direction: column;
        margin: 0 auto;
        width: 280px;

    }

    .archi {
        position: relative;
    }

    .architecture {
        width: 280px;
        height: 460px;
        position: absolute;
        top: -40px;
    }

    .experience-button {
        width: 170px;
        height: 100px;
        font-weight: 600;
        font-size: 20px;
        color: #FFFFFF;
        position: absolute;
        top: 460px;
        left: 50px;
        display: block;

    }

    .facts-contant {
        margin: 1100px 0 10px 0;
    }

    .facts {

        width: 275px;
        margin: 0 auto;

    }

    .my-awards {
        flex-direction: column;
        gap: 20px;
        margin-top: 40px;

    }

    .award {
        margin: 0 auto;
    }

    footer {
        margin: 40px 10px 100px;
    }

    .sponspors {
        width: 280px;
        margin: 0 auto;
    }

    .facts-head {
        font-size: 30px;
    }

    .spons-images {
        margin-top: 40px;
        margin-bottom: 80px;
        flex-direction: column;
        gap: 8px;

    }
    .copyright{
        width: 280px;
        margin: 0 auto;
    }

    .copyright p {
        margin: 0;
        padding: 20px 0;
    }


}